[buildout]

# Pin down versions of external extensions used by v2.
[versions]
PILwoTk = 1.1.6.4
Products.AddRemoveWidget = 1.4.4
Products.Organization = 0.1.5
Products.Person = 0.1.5
Products.PloneFormGen = 1.6.7
Products.PloneKeywordManager = 1.7
Products.PythonField = 1.1.3
Products.TALESField = 1.1.3
Products.TemplateFields = 1.2.5
Products.Work = 0.0.4
Products.PloneHotfix20121106 = 1.2
Products.PloneHotfix20110531 = 2.0
Products.PloneHotfix20110720 = 1.2
Products.PloneHotfix20110928 = 1.1
Products.PloneHotfix20130618 = 1.3-infrae1
Products.PloneHotfix20131210 = 1.0
Products.PloneHotfix20150910 = 1.1
Products.PloneHotfix20151208 = 1.0
Products.Zope_Hotfix_20110622 = 1.0
collective.contentleadimage = 1.3.0
collective.flowplayer = 3.0rc1
# collective.js.jquery = 1.3.2.1
collective.portlet.relateditems = 0.3.1
collective.portlet.toc = 0.2
collective.viewlet.references = 0.6
collective.virtualtreecategories = 0.2.6
collective.z3cform.datetimewidget = 1.0.2
five.globalrequest = 1.0
mr.developer = 1.30
plone.app.caching = 1.0b1
plone.app.registry = 1.0b2
plone.app.z3cform = 0.5.1
plone.autoform = 1.0b4
plone.cachepurging = 1.0a1
plone.caching = 1.0b1
plone.registry = 1.0b2
plone.supermodel = 1.0b5
plone.transformchain = 1.0b1
plone.z3cform = 0.7.0
python_dateutil = 1.5
python_gettext = 1.0
python_openid = 2.2.5
quintagroup.canonicalpath = 0.7
quintagroup.seoptimizer = 4.0.4
setuptools = 2.0.1
v2.theme = 5.4
z3c.batching = 1.1.0
z3c.caching = 2.0a1
z3c.form = 2.4.1
z3c.formwidget.query = 0.5
z3c.zcmlhook = 1.0b1
zc.buildout = 1.4.4
zope.globalrequest = 1.0
zope.schema = 3.6.0
Products.ContentWellPortlets = 3.0
plone.app.jquery = 1.4.4

# Fix: Roland
plone.recipe.zope2instance = 4.1.9